* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #222;
  color: white;
}

.card {
  text-align: center;
  width: 90%;
  max-width: 470px;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 35px;
  background: linear-gradient(135deg, #00feba, #5b548a);
}

#search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search input {
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  height: 40px;
  flex: 1;
  font-size: 18px;
  margin-right: 18px;
  background: #ebfffc;
}

#search button {
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background: #ebfffc;
}

#search button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-img {
  width: 16px;
}

#weather {
  display: flex;
  flex-direction: column;
}

.weather-img {
  width: 150px;
  margin-top: 30px;
  align-self: center;
}

#weather h1 {
  font-size: 60px;
  font-weight: 500;
}

#weather h2 {
  font-size: 30px;
  font-weight: 400;
  margin-top: -10px;
}

#details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 20px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

#humidity,
#wind {
  font-size: 18px;
  margin-top: -6px;
}

#weather {
  display: none;
}

.error {
  display: none;
  margin-top: 10px;
}
